<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.erichambuch.spotify.copyweekly">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.WAKE_LOCK"
        android:maxSdkVersion="25" />

    <queries>
        <package android:name="com.spotify.music" />
        <package android:name="open.spotify.com" />
        <package android:name="com.android.chrome" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:description="@string/app_description"
        android:supportsRtl="true"
        android:fullBackupContent="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="de.erichambuch.spotify.copyweekly"
                    android:scheme="myapp-eric"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.spotify.sdk.android.auth.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity android:name=".MyPreferencesActivity" android:theme="@style/AppTheme"/>

        <receiver android:name=".BootUpAlarmScheduleReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="BootUpAlarmScheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".SpotifyPlaylistService" android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>

</manifest>